*.go
*~
/bin/basename
/bin/bash
/bin/cat
/bin/chmod
/bin/compress
/bin/cp
/bin/dirname
/bin/find
/bin/gash
/bin/grep
/bin/ls
/bin/mkdir
/bin/mv
/bin/reboot
/bin/rm
/bin/rmdir
/bin/sed
/bin/sh
/bin/tar
/bin/touch
/bin/wc
/bin/which
/.config.make
/doc/version.texi
/gash/config.scm
/pre-inst-env
/test/*.1
/test/*.2
/test/*.log
